* {
  box-sizing: border-box;
}
main {
  margin-top: 125px;
  margin-bottom: 90px;
}
.Quiz-App {
  background-color: rgb(171, 101, 236);
  border: 2px solid;
  border-radius: 25px;
  display: grid;
  justify-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
h1 {
  justify-self: center;
  border: 2px solid;
  margin: 20px;
  padding: 20px;
  background-color: yellow;
}
p {
  margin: 5px 60px;
}
body {
  margin-right: 25px;
  background-color: rgb(194, 194, 188);
}
.Questions {
  border: 2px solid;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  margin-left: 9px;
  background-color: rgb(171, 106, 231);
}
.Question1 {
  display: grid;
  align-self: end;
  justify-items: center;
  border: 2px solid;
  border-radius: 5px;
  margin: 100px 150px 0px 150px;
  height: 350px;
  background-color: yellow;
}
.navbar {
  background-color: rgb(239, 239, 239);
  border: 2px solid;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
ul {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  justify-content: space-evenly;
  grid-gap: 20px;
  list-style-type: none;
}
img {
  height: 50px;
  padding-top: 10px;
}
.show-answer {
  margin-bottom: 20px;
}
.tags {
  display: flex;
  justify-content: center;
  gap: 40px;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.bookmark {
  justify-self: end;
  margin-right: 20px;
  margin-bottom: -50px;
}
.display-toggle {
  display: none;
}
